.details {
  &.details--moreless {
    min-height: calc(1em * var(--line-height));

    summary {
      cursor: pointer;

      &::before {
        content: "Read more";
      }

      &:hover {
        color: var(--color--secondary);
      }

      &::marker {
        content: "";
      }

      &::-webkit-details-marker {
        display: none;
    }
    }

    &[open] {
      summary {
        display: none;
      }
    }
  }

  button[title="Less"] {
    cursor: pointer;

    &::before {
      content: "Less";
    }

    &:hover {
      color: var(--color--secondary);
    }
  }

  summary, 
  button[title="Less"] {
    text-decoration-line: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.07em;
  }
}

* + details.details--moreless {
  margin-top: 1em;
}
