.details {
  &.details--moreless {
    min-height: calc(1em * var(--line-height));

    summary {
      width: fit-content;
      cursor: pointer;

      &::before {
        content: "(Read more)";
      }

      &:hover {
        color: var(--color--secondary);
      }

      &::marker {
        content: "";
      }

      &::-webkit-details-marker {
        display: none;
    }
    }

    &[open] {
      summary {
        display: none;
      }
    }
  }

  button[title="Less"] {
    cursor: pointer;

    &::before {
      content: "(Less)";
    }

    &:hover {
      color: var(--color--secondary);
    }
  }

  summary, 
  button[title="Less"] {
    font-size: 84%;
  }
}

* + details.details--moreless {
  margin-top: 1em;
}
