.gallery {
  &__inner {
    overflow: hidden;
    height: 100%;
  }

  &__wrapper {
    align-items: stretch;
  }

  &__item {
    height: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    background: rgba(255, 255, 255, .1);
  }
}
