{%- assign galleryStyles = "" -%}
{%- if page.backgroundColor & page.backgroundColor != "" -%}
{%- assign galleryStyles = galleryStyles | append: "background-color:" | append: page.backgroundColor | append: ";" -%}
{%- endif -%}
{%- if page.textColor & page.textColor != "" -%}
{%- assign galleryStyles = galleryStyles | append: "color:" | append: page.textColor | append: ";" -%}
{%- endif -%}
<div class="project__gallery gallery active{%- if page.media & page.media != "" & page.media != nil -%}{% else %} empty{%- endif -%}"
  {% if galleryStyles != "" %}style="{{ galleryStyles }}"{% endif %}
>
  <div class="gallery__inner">
    <ul class="gallery__wrapper swiper-wrapper">
      <li class="gallery__item swiper-slide"><!-- blank previous project navigation slide --></li>
      {% if page.media %}
        {% for media in page.media %}
        <li class="gallery__item swiper-slide">
          {% include image_project.liquid content=media %}
        </li>
        {% endfor %}
      {% else %}
      <li class="gallery__item swiper-slide empty">🚧</li>
      {% endif %}
      <li class="gallery__item swiper-slide"><!-- blank next project navigation slide --></li>
    </ul>
    <button class="gallery__button gallery__button--prev" title="Previous image in gallery"></button>
    <button class="gallery__button gallery__button--next" title="Next image in gallery"></button>
    <div class="gallery__pagination"></div>
  </div>
</div>
