@font-face {
  font-family: "Dia";
  src: url('../fonts/d-r.eot');
  src: url('../fonts/d-r.eot?#iefix') format('embedded-opentype'),
       url('../fonts/d-r.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
