body, 
html {
  height: 100%;
  margin: 0;
}

* {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: sans-serif;
  font-size: 125%;
  line-height: var(--line-height);
  color: var(--color--foreground);
  background: var(--color--background);
}

a {
  color: inherit;

  &:not(:hover) {
    text-decoration: none;
  }
}

main {
  display: grid;
  grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
  grid-template-columns: 100%;
  gap: 0.75em;
  counter-reset: page-section 0;
  min-height: 100%;
  padding: var(--page-margin);
  box-sizing: border-box;

  transition-property: grid-template-rows;
  transition-duration: 200ms
}

section {
  position: relative;
  padding-left: 45%;
  counter-increment: page-section 1;
  grid-column: 1 / 2;

  &::before {
    font-size: var(--font-size--large);
    position: absolute;
    left: 0;
    top: 0;
    content: counter(page-section);
    z-index: 5;
  }
}

.section {
  &__title {
    position: relative;
    font-size: var(--font-size--large);
    text-transform: uppercase;
    z-index: 5;
  }

  &__content {

  }

  &__title + &__content {
    padding-top: 0.75em;
  }

  &:not(#projects) {
    .section__content-wrapper {
      position: relative;
    }
  }
}

.content {
  & > * + * {
    margin-top: 1em;
  }
}

section#about {
  grid-row: 1 / 2;
}

section#contact {
  grid-row: 2 / 3;
}

section#projects {
  grid-row: 3 / 4;
}

section#content {
  grid-row: 4 / 5;
  align-self: end;

  .section__content {
    > * {
      min-height: calc(var(--line-height) * 4em);
    }
  }
}

section#time {
  align-self: end;
  padding-top: 2em;
  padding-bottom: 0.5em;
  
  > * {
    font-size: var(--font-size--large);
  }

  &::before {
    content: "";
  }
}

body[data-view="home"] {
  main {
    grid-template-rows: 0fr 0fr auto 0fr 0fr;
  }
}

body[data-view="projects"] {
  main {
    grid-template-rows: 0fr 0fr auto 0fr 0fr;
  }
  
  section#about .section__content-wrapper {
    display: none;
  }

  section#projects {
    grid-row: 3 / 5;
    pointer-events: none;

    * {
      pointer-events: inherit;
    }

    .section__title, 
    .projects__item {
      pointer-events: auto;
    }
  }
}

body[data-view="project"] {
  main {
    grid-template-rows: 0fr 0fr auto 0fr 0fr;
  }

  .widget {
      //display: none;
  }

  section#about .section__content-wrapper {
    display: none;
  }
}
