$breakpoints: (
  small: 660px,
  medium: 960px,
  large: 1600px,
);

$media-type: 'screen';

@use "mq" with (
  $breakpoints: $breakpoints,
  $media-type: $media-type,
  // Uncomment for debugging breakpoints
  // $show-breakpoints: (small, medium, large), 
);
