@use "mq";

:root {
  --color--foreground: #191818;
  --color--background: #E5E1D9;
  --color--secondary: #0000ff;

  --page-margin: 1.73em;
  --gap-vertical: 0.5em;

  --mobile-margin: 31vw;

  --text-transition-duration: 400ms;
  
  @include mq.mq($until: small) {
    --font-size--large: 1.25em;
    --line-height: 1.2;

  }

  @include mq.mq($from: small) {
    --font-size--large: 1.1em;
    --line-height: 1.13;

  }
}
