#about {
  .section__content {
    a {
      text-decoration-line: underline;
    }

    > * + * {
      margin-top: 1em;
    }
  }
}

.details {
  &__content {
    > * + * {
      margin-top: 1em;
    }
  }
}
