#projects {
  .section__title {
    &:hover {
      filter: invert(1);
      mix-blend-mode: difference;
    }

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }

  .section__content[data-barba-namespace="projects"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
  }
}

.projects {
  position: relative;
  height: 100%;
  width: 100%;

  &__item {
    --size: 5em;

    position: absolute;
    width: var(--size);
    height: calc(var(--size) * 1.14);
    top: max(calc(0 * var(--size)), calc(((100% - var(--size))/ 100) * var(--top)));
    left: max(calc(0 * var(--size)), calc(((100% - var(--size))/ 100) * var(--left)));

    border-radius: 50%;
    background: var(--project-color);
    filter: blur(0.45em);

    &:not([style]) {
      display: none;
    }

    > a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;

    &:not(:hover) {
      mix-blend-mode: luminosity;
    }
  }
}
