---
layout: default
---
<ul class="projects">
  {%- assign projects = site.projects | sort: 'order' -%}
  {% for project in projects %}
  <li class="projects__item" 
    title="{{ project.title }}" 
    data-tags="{% include project_tags.liquid %}"
    style="--project-color: {% include projects_color.liquid content=project.color %}">
    <a href="{{ project.url }}">
      {% if project.featured %}
        {% if project.featured.type == "video" %}
          <!-- Video -->
        {% else %}
          <!-- -->
        {% endif %}
      {% else %}
      <!-- {{ project.title }} -->
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
